
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700;800;900&display=swap');

*, ::before , ::after
{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    list-style: none;
    text-decoration: none;
    
}
html
{
    scroll-behavior: smooth;
}

.header
{
    width: 100%;
  
    
    background-color: #000;
}

/* navigation */

.nav-container
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #000;
    border-bottom: 1px solid #f1f1f1;
}
.burger
{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}
.logo
{
    display: flex;
    align-items: center;
    margin-left: 15px;
}
@media screen and (min-width: 320px)
{
    .menu 
    {
        height: auto;
        position: absolute;
        top: 61px;
        right: -100%;
        width: 100%;
        background-color: #000;
        justify-content: center;
        display: flex;
        align-items: center;
        flex-direction: column;
        transition: all 0.3s ease-in-out;
        
    }
    .menu.active
    {
        display: block;
        right: 0;
    }
    .menu-list
    {
        padding:  15px 0;
        text-align: center;
        width: 100%;
        transition: 0.2s;
    }
    .menu .menu-list .item-menu
    {
        color: #f1f1f1;
        text-transform: uppercase;
        
    }
    .menu-list .item-menu:hover
    {
        color: aqua;
    }
   
}